.organizer-card {

    margin-top: 35px;

    background: #172338;

    border-radius: 20px;

    padding: 35px;

    color: white;

}

.organizer-card h2 {

    margin-bottom: 30px;

    display: flex;

    align-items: center;

    gap: 12px;

}

.organizer-content {

    display: flex;

    gap: 25px;

    align-items: flex-start;

}

.organizer-avatar {

    width: 90px;

    height: 90px;

    border-radius: 50%;

    background: #4f46e5;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 34px;

    font-weight: bold;

}

.organizer-info {

    flex: 1;

}

.organizer-info h3 {

    margin-bottom: 6px;

}

.role {

    color: #60a5fa;

}

.organizer-details {

    margin-top: 25px;

    display: grid;

    gap: 15px;

}

.organizer-details p {

    color: #d6d6d6;

}

.organizer-details i {

    margin-right: 10px;

    color: #4f46e5;

}

.organizer-buttons {

    display: flex;

    gap: 15px;

    margin-top: 30px;

}

.contact-btn,
.follow-btn {

    border: none;

    padding: 14px 26px;

    border-radius: 12px;

    cursor: pointer;

    font-size: 15px;

}

.contact-btn {

    background: #4f46e5;

    color: white;

}

.follow-btn {

    background: #24324a;

    color: white;

}

.contact-btn:hover,
.follow-btn:hover {

    opacity: .9;

}